

.footer-area {
    width: 100%;
    color: #fff;
    background: #000;
    padding: 96px 0 38px;

    .footer-addr {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 56px;
        display: flex;

        @include tablet{ flex-direction: column;}
        @include mobile { padding: 0 20px;}

        .foo-logo-area {
            width: 40%;

            @include pc { width: 20%;}
            @include mobile { width: 100%;}
            .logo {
                display: inline-block;
                width: 145px;
                height: 70px;
                background: url(../images/logo/w-logo.png) no-repeat;
                object-fit: cover;
                background-size: 50%;
            }
            .logo-txt { 
                color: #888; 
                max-width: 350px;
                margin: 16px 0;

               
            }

        }
        .addr-box {
            display: flex; 
            flex-direction: column;
            width: 20%;
            
            @include tablet{ width: 100%; padding: 30px 0; border-bottom: 1px solid #fff;
            }


            .top { font-weight: 600;
                font-size: 16px;
                margin: 0 0 20px;

                @include tablet { }
            }

            .addr { 
                margin-top: 13px;

            @include tablet{ display: none;}

            }

            .sns-icon { 
                box-sizing: border-box;

            @include tablet{ padding-top: 20px;}

                .icon { 
                    display: inline-block;
                    float: left;
                    text-align: center;
                    line-height: 44px;
                    width: 44px;
                    height: 44px;

                    @include pc { width: 35px; height: 35px;}
                }
            }
        }
     }
    .language {
        display: flex;
        max-width: 1440px;
        justify-content: flex-end;
        align-items: center;
        margin: 64px auto 4px;

        @include pc { padding-right: 56px;}
        @include mobile { padding-right: 20px;}
     }
    .copy { 
        padding-top: 36px;
        position: relative;
        margin-top: 42px;

        &.copy::before { 
            content:'';
            width: 100%;
            height: 1px;
            background: #fff;
            display: block;
            opacity: .2;
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .copy-wrap { 
            padding: 0 56px;
            max-width: 1440px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            @include mobile { padding: 0 20px;}
        }
    }
}