@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

img {
  width: 100%;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.img-scroll {
  overflow: hidden;
}

.img-scroll img {
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
}

.chk-btn {
  position: relative;
}

.chk-btn label {
  width: 20px;
  height: 20px;
  background: #f00;
  display: inline-block;
}

.chk-btn label.active {
  background: #00f;
}

.chk-btn input {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.ad-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.ad-top .ad-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ad-top .ad-list .ad-item {
  background: #000;
  color: #ebe9e9;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}

.header-area.top {
  top: 0;
}

.header-area {
  position: fixed;
  top: 40px;
  left: 0;
  height: 74px;
  width: 100%;
  padding: 0 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 9;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1050px) {
  .header-area {
    padding: 0 30px;
  }
}

.header-area .logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-area .logo-wrap .logo {
  display: inline-block;
  width: 140px;
  height: 70px;
  background: url(https://logodownload.org/wp-content/uploads/2014/10/umbro-logo-0.png) no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: 50%;
}

@media (max-width: 1050px) {
  .header-area .logo-wrap .logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-left: 7vw;
  }
}

.header-area .gnb-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1050px) {
  .header-area .gnb-wrap {
    background: url(../images/icon/menu.png) no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: 100%;
    margin-right: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.header-area .gnb-wrap .gnb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1050px) {
  .header-area .gnb-wrap .gnb-list {
    display: none;
  }
}

.header-area .gnb-wrap .gnb-list .gnb-item {
  font-size: 16px;
  padding: 0 20px;
}

.header-area .gnb-wrap .gnb-list .gnb-item .tops-wrap {
  display: none;
  position: absolute;
  top: 74px;
  left: 0;
  width: 100%;
  height: 400px;
  background: #f7f5f0;
}

.header-area .gnb-wrap .gnb-list .gnb-item .tops-wrap .tops-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin: 0 auto;
}

.header-area .gnb-wrap .gnb-list .gnb-item .tops-wrap .tops-list {
  width: 600px;
  padding: 46px 0 46px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-area .gnb-wrap .gnb-list .gnb-item .tops-wrap .tops-list .sub-item {
  float: left;
  margin-top: 20px;
  margin-right: 53px;
  font-size: 16px;
}

.header-area .gnb-wrap .gnb-list .gnb-item .tops-wrap .tops-img {
  padding: 46px 0 46px 48px;
  width: 200px;
  height: 200px;
  float: left;
}

.header-area .gnb-wrap .gnb-list .gnb-item .tops-wrap .tops-img img {
  width: 100%;
  height: 100%;
}

.header-area .sub-menu-wrap.on {
  left: 0;
}

.header-area .sub-menu-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 114px;
  left: -100%;
  background: #fff;
}

.header-area .sub-menu-wrap .sub-menu-list {
  padding: 20px 20px;
}

.header-area .sub-menu-wrap .sub-item {
  padding-bottom: 30px;
}

.header-area .util-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-area .util-wrap .link {
  width: 24px;
  height: 24px;
  margin-left: 30px;
}

.header-area .util-wrap .link.search {
  background: url(../images/icon/search.svg) no-repeat;
}

@media (max-width: 1050px) {
  .header-area .util-wrap .link.search {
    display: none;
  }
}

.header-area .util-wrap .link.login {
  background: url(../images/icon/login.svg) no-repeat;
}

@media (max-width: 1050px) {
  .header-area .util-wrap .link.login {
    display: none;
  }
}

.header-area .util-wrap .link.basket {
  background: url(../images/icon/shop.svg) no-repeat;
}

.footer-area {
  width: 100%;
  color: #fff;
  background: #000;
  padding: 96px 0 38px;
}

.footer-area .footer-addr {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1050px) {
  .footer-area .footer-addr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .footer-area .footer-addr {
    padding: 0 20px;
  }
}

.footer-area .footer-addr .foo-logo-area {
  width: 40%;
}

@media (max-width: 1350px) {
  .footer-area .footer-addr .foo-logo-area {
    width: 20%;
  }
}

@media (max-width: 767px) {
  .footer-area .footer-addr .foo-logo-area {
    width: 100%;
  }
}

.footer-area .footer-addr .foo-logo-area .logo {
  display: inline-block;
  width: 145px;
  height: 70px;
  background: url(../images/logo/w-logo.png) no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: 50%;
}

.footer-area .footer-addr .foo-logo-area .logo-txt {
  color: #888;
  max-width: 350px;
  margin: 16px 0;
}

.footer-area .footer-addr .addr-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
}

@media (max-width: 1050px) {
  .footer-area .footer-addr .addr-box {
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid #fff;
  }
}

.footer-area .footer-addr .addr-box .top {
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 20px;
}

.footer-area .footer-addr .addr-box .addr {
  margin-top: 13px;
}

@media (max-width: 1050px) {
  .footer-area .footer-addr .addr-box .addr {
    display: none;
  }
}

.footer-area .footer-addr .addr-box .sns-icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1050px) {
  .footer-area .footer-addr .addr-box .sns-icon {
    padding-top: 20px;
  }
}

.footer-area .footer-addr .addr-box .sns-icon .icon {
  display: inline-block;
  float: left;
  text-align: center;
  line-height: 44px;
  width: 44px;
  height: 44px;
}

@media (max-width: 1350px) {
  .footer-area .footer-addr .addr-box .sns-icon .icon {
    width: 35px;
    height: 35px;
  }
}

.footer-area .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 64px auto 4px;
}

@media (max-width: 1350px) {
  .footer-area .language {
    padding-right: 56px;
  }
}

@media (max-width: 767px) {
  .footer-area .language {
    padding-right: 20px;
  }
}

.footer-area .copy {
  padding-top: 36px;
  position: relative;
  margin-top: 42px;
}

.footer-area .copy.copy::before {
  content: '';
  width: 100%;
  height: 1px;
  background: #fff;
  display: block;
  opacity: .2;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-area .copy .copy-wrap {
  padding: 0 56px;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer-area .copy .copy-wrap {
    padding: 0 20px;
  }
}

.sc-title {
  position: relative;
  display: inline-block;
  font-size: 31px;
  line-height: 58px;
  font-weight: 700;
}

@media (max-width: 1350px) {
  .sc-title {
    font-size: 22px;
  }
}

.sub-box {
  position: absolute;
  width: 250px;
  bottom: 24px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1050px) {
  .sub-box {
    display: none;
  }
}

.sub-box .txt-box .name {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}

.sub-box .txt-box .sell {
  display: block;
  font-size: 13px;
  color: #666;
}

.sub-box .img-box {
  width: 62px;
  margin-left: auto;
  padding: 0;
}

.title {
  position: relative;
  display: inline-block;
  font-size: 31px;
  line-height: 58px;
  font-weight: 700;
}

.link {
  line-height: 25px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  font-weight: 600;
}

@media (max-width: 1350px) {
  .link {
    font-size: 12px;
  }
}

.sc-visual {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: calc(100vh - 40px);
}

@media (max-width: 1050px) {
  .sc-visual {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sc-visual .visual-box {
  width: 66.5%;
  height: 100%;
}

@media (max-width: 1050px) {
  .sc-visual .visual-box {
    width: 100%;
  }
}

.sc-visual .visual-box .img-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sc-visual .visual-box .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sc-visual .visual-box .txt-box {
  position: absolute;
  bottom: 0;
  left: 56px;
  color: #fff;
  padding: 70px 0;
}

@media (max-width: 767px) {
  .sc-visual .visual-box .txt-box {
    left: 10px;
    padding: 30px;
  }
}

.sc-visual .visual-box .txt-box .title {
  display: block;
  font-size: 39px;
  font-weight: 700;
  line-height: 48px;
}

@media (max-width: 1050px) {
  .sc-visual .visual-box .txt-box .title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .sc-visual .visual-box .txt-box .title {
    font-size: 16px;
    line-height: 25px;
  }
}

.sc-visual .visual-box .txt-box .link {
  display: inline-block;
  margin: 32px 0 0;
}

@media (max-width: 767px) {
  .sc-visual .visual-box .txt-box .link {
    margin: 10px 0 0;
  }
}

.sc-visual .sale-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  position: relative;
  background-color: #000;
  color: #fff;
  text-align: center;
  opacity: .9;
}

@media (max-width: 1050px) {
  .sc-visual .sale-box {
    width: 100%;
    height: 100%;
  }
}

.sc-visual .sale-box .txt-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sc-visual .sale-box .txt-box .title {
  font-size: 31px;
  line-height: 48px;
}

.sc-visual .sale-box .txt-box .desc {
  font-size: 16px;
  line-height: 25px;
  margin-top: 8px;
}

.sc-visual .sale-box .txt-box .link.link::before {
  content: '';
  display: block;
  background: #fff;
  width: 1px;
  height: 90px;
  margin: 20px auto;
  opacity: 0.2;
}

.sc-directionality {
  padding: 96px 0;
  background: #f7f5f0;
  text-align: center;
}

.sc-directionality .txt-box {
  display: inline-block;
  max-width: 656px;
}

@media (max-width: 767px) {
  .sc-directionality .txt-box {
    max-width: 200px;
  }
}

.sc-directionality .txt-box .sc-title {
  font-size: 39px;
  font-weight: 700;
}

@media (max-width: 1050px) {
  .sc-directionality .txt-box .sc-title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .sc-directionality .txt-box .sc-title {
    font-size: 16px;
  }
}

.sc-directionality .txt-box .desc {
  font-size: 20px;
  margin: 20px 0;
  color: #666;
  font-weight: 300;
  line-height: 38px;
}

@media (max-width: 1050px) {
  .sc-directionality .txt-box .desc {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .sc-directionality .txt-box .desc {
    font-size: 12px;
    line-height: 20px;
  }
}

.sc-directionality .txt-box .link {
  margin-top: 23px;
  border-bottom: 1px solid #000;
}

.sc-new {
  padding: 160px 0;
  position: relative;
}

@media (max-width: 1350px) {
  .sc-new {
    padding-left: 50px;
  }
}

.sc-new .new-wrap {
  padding-left: calc(50% - 550px);
  padding-right: calc(15%);
}

.sc-new .new-wrap .sc-title {
  font-size: 31px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin-bottom: 64px;
}

@media (max-width: 767px) {
  .sc-new .new-wrap .sc-title {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.sc-new .new-wrap .sc-title.sc-title::after {
  content: '';
  display: inline-block;
  width: 200px;
  height: 1px;
  background-color: #000;
  margin-left: 48px;
  position: absolute;
  top: 50%;
}

@media (max-width: 767px) {
  .sc-new .new-wrap .sc-title.sc-title::after {
    display: none;
  }
}

.sc-new .new-wrap .new-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sc-new .new-wrap .new-list .new-item {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .sc-new .new-wrap .new-list .new-item {
    margin-right: 20px;
  }
}

.sc-new .new-wrap .new-list .new-item .img-box {
  margin-bottom: 26px;
  width: 100%;
  height: auto;
}

.sc-new .new-wrap .new-list .new-item .txt-box .strong {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 200;
}

@media (max-width: 767px) {
  .sc-new .new-wrap .new-list .new-item .txt-box .strong {
    font-size: 12px;
  }
}

.sc-new .new-wrap .new-list .new-item .txt-box .desc {
  font-size: 16px;
}

@media (max-width: 767px) {
  .sc-new .new-wrap .new-list .new-item .txt-box .desc {
    font-size: 12px;
  }
}

.sc-new .new-wrap .link {
  display: inline-block;
  margin-top: 64px;
  border-bottom: 1px solid #000;
}

@media (max-width: 1350px) {
  .sc-new .new-wrap .link {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .sc-new .new-wrap .link {
    font-size: 10px;
  }
}

.sc-new .new-wrap .pagation {
  position: absolute;
  top: 0;
  right: 15%;
}

@media (max-width: 767px) {
  .sc-new .new-wrap .pagation {
    top: 20px;
  }
}

.sc-new .new-wrap .pagation .btn {
  width: 40px;
  height: 40px;
  float: left;
  border: 1px solid #666;
  text-align: center;
  line-height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767px) {
  .sc-new .new-wrap .pagation .btn {
    width: 20px;
    height: 20px;
  }
}

.sc-new .new-wrap .pagation .btn::after {
  content: '';
  width: 10px;
  height: 15px;
  display: inline-block;
  padding-top: 20px;
  vertical-align: top;
  background: url(../images/logo/arrow.svg) no-repeat 100%;
}

@media (max-width: 767px) {
  .sc-new .new-wrap .pagation .btn::after {
    width: 5px;
    height: 8px;
    padding-top: 11px;
  }
}

.sc-new .new-wrap .pagation .btn.prev {
  margin-right: 20px;
}

.sc-new .new-wrap .pagation .btn.prev::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.find-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 1050px) {
  .find-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.find-area .find-wrap {
  width: 50%;
  padding: 138px 104px 130px 72px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f7f5f0;
}

@media (max-width: 1050px) {
  .find-area .find-wrap {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .find-area .find-wrap {
    padding: 69px 52px 65px 36px;
  }
}

.find-area .find-wrap .find-box {
  max-width: 432px;
  margin: 0 auto;
}

.find-area .find-wrap .find-box .sc-title {
  display: inline-block;
  font-size: 13px;
  margin-bottom: 18px;
  color: #666;
}

@media (max-width: 1050px) {
  .find-area .find-wrap .find-box .sc-title {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.5;
  }
}

@media (max-width: 767px) {
  .find-area .find-wrap .find-box .sc-title {
    font-size: 8px;
  }
}

.find-area .find-wrap .find-box .title {
  font-size: 39px;
  margin-bottom: 52px;
}

@media (max-width: 767px) {
  .find-area .find-wrap .find-box .title {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
}

.find-area .find-item {
  position: relative;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .find-area .find-item {
    font-size: 12px;
    font-weight: 400;
  }
}

.find-area .find-item .link-find {
  position: relative;
  display: block;
  padding: 15px 0;
}

@media (max-width: 767px) {
  .find-area .find-item .link-find {
    padding: 5px 0;
  }
}

.find-area .find-item .link-find::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: url(../images/logo/arrow.svg) no-repeat 100%;
  top: 50%;
  right: 0;
}

.find-area .find-item + .find-item {
  padding-top: 15px;
}

.find-area .img-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.find-area .img-wrap .bg-img-box {
  width: 100%;
  height: 100%;
}

.sc-shirt {
  width: 100%;
  padding: 160px 56px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1350px) {
  .sc-shirt {
    padding: 50px 20px;
  }
}

.sc-shirt .shirt-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .sc-shirt .shirt-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sc-shirt .shirt-left {
  width: 50%;
  margin-right: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767px) {
  .sc-shirt .shirt-left {
    width: 100%;
  }
}

.sc-shirt .shirt-left .txt-box {
  margin: 69px 69px 0 0;
  padding-left: 68px;
}

@media (max-width: 1050px) {
  .sc-shirt .shirt-left .txt-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .sc-shirt .shirt-left .txt-box {
    margin: 0;
    padding: 0;
  }
}

.sc-shirt .shirt-left .txt-box .title {
  margin-bottom: 40px;
  font-size: 37px;
}

@media (max-width: 1350px) {
  .sc-shirt .shirt-left .txt-box .title {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .sc-shirt .shirt-left .txt-box .title {
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.sc-shirt .shirt-left .txt-box .link-shop {
  display: inline-block;
  width: 140px;
  height: 47px;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 47px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .sc-shirt .shirt-left .txt-box .link-shop {
    margin: 0 auto 30px;
  }
}

.sc-shirt .shirt-right {
  position: relative;
  width: calc(50% - 20px);
  margin-left: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1050px) {
  .sc-shirt .shirt-right {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .sc-shirt .shirt-right {
    margin: 0;
  }
}

.sc-shirt .shirt-right .right-wrap {
  position: relative;
}

.sc-shirt .shirt-right .shirt-img {
  position: relative;
  padding-bottom: 100%;
}

.sc-shirt .shirt-right .shirt-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sc-shirt .shirt-right .desc {
  line-height: 38px;
  font-size: 20px;
  color: #666;
  margin: 172px 172px 172px 0;
  padding: 0 0 0 56px;
  max-width: 432px;
}

@media (max-width: 1350px) {
  .sc-shirt .shirt-right .desc {
    margin: 100px 100px 100px 0;
  }
}

@media (max-width: 1050px) {
  .sc-shirt .shirt-right .desc {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .sc-shirt .shirt-right .desc {
    font-size: 11px;
    line-height: 30px;
    margin: 50px 50px 100px 0;
  }
}

.shoes-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}

.shoes-wrap .img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shoes-wrap .txt-box {
  position: absolute;
  padding: 0 0 80px 56px;
  bottom: 0;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767px) {
  .shoes-wrap .txt-box {
    padding: 0;
    bottom: 50px;
  }
}

.shoes-wrap .txt-box .title {
  max-width: 500px;
  display: block;
}

@media (max-width: 1350px) {
  .shoes-wrap .txt-box .title {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .shoes-wrap .txt-box .title {
    font-size: 16px;
    max-width: 320px;
    line-height: 1.5;
  }
}

.shoes-wrap .txt-box .link {
  display: inline-block;
  margin-top: 32px;
}

@media (max-width: 767px) {
  .shoes-wrap .txt-box .link {
    margin-top: 10px;
  }
}

.shoes-wrap .sub-img-box {
  position: absolute;
  right: 10px;
  bottom: 80px;
}

@media (max-width: 767px) {
  .shoes-wrap .sub-img-box {
    bottom: 10px;
  }
}

.shoes-wrap .sub-img-box img {
  background: #fff;
  width: 52px;
  padding: 3px;
}

@media (max-width: 767px) {
  .shoes-wrap .sub-img-box img {
    width: 20px;
  }
}

.sc-best {
  padding: 160px 0;
  overflow: hidden;
}

.sc-best .best-left {
  width: 50%;
  float: left;
  height: 100%;
}

@media (max-width: 767px) {
  .sc-best .best-left {
    width: 100%;
  }
}

.sc-best .best-right {
  width: 50%;
  overflow: hidden;
}

@media (max-width: 767px) {
  .sc-best .best-right {
    width: 100%;
  }
}

.sc-best .best-right .text-box {
  margin-bottom: 68px;
  padding: 50px 106px 50px 120px;
}

@media (max-width: 1350px) {
  .sc-best .best-right .text-box {
    padding: 25px 50px 25px 60px;
    margin-bottom: 34px;
  }
}

@media (max-width: 767px) {
  .sc-best .best-right .text-box {
    display: none;
  }
}

.sc-best .best-right .text-box .desc {
  font-size: 16px;
  color: #666;
  margin-top: 12px;
}

@media (max-width: 1350px) {
  .sc-best .best-right .text-box .desc {
    font-size: 15px;
    line-height: 1.5;
  }
}

.sc-best .best-right .text-box .link {
  display: inline-block;
  margin-top: 32px;
  border-bottom: 1px solid #000;
}

.sc-best .best-box {
  width: 100%;
  padding: 0 120px;
}

@media (max-width: 767px) {
  .sc-best .best-box {
    margin: 0;
    padding: 0;
  }
}

.sc-best .best-box .txt-box {
  margin-top: 26px;
}

.sc-best .best-box .txt-box .strong {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 200;
}

@media (max-width: 1350px) {
  .sc-best .best-box .txt-box .strong {
    font-size: 15px;
  }
}

.sc-best .best-box .txt-box .desc {
  font-size: 16px;
}

@media (max-width: 1350px) {
  .sc-best .best-box .txt-box .desc {
    font-size: 12px;
  }
}

.collaboration-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 96px 56px;
  background: #f7f5f0;
}

@media (max-width: 1050px) {
  .collaboration-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.collaboration-wrap .txt-box {
  width: 40%;
  margin-bottom: 31px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1350px) {
  .collaboration-wrap .txt-box {
    width: 60%;
  }
}

@media (max-width: 1050px) {
  .collaboration-wrap .txt-box {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .collaboration-wrap .txt-box .sc-title {
    padding-left: 40px;
  }
}

.collaboration-wrap .txt-box .desc {
  margin-top: 26px;
  color: #666;
  font-size: 20px;
  line-height: 38px;
  font-weight: 400;
  max-width: 400px;
}

@media (max-width: 1350px) {
  .collaboration-wrap .txt-box .desc {
    font-size: 14px;
  }
}

@media (max-width: 1050px) {
  .collaboration-wrap .txt-box .desc {
    margin-top: 13px;
    max-width: none;
  }
  .collaboration-wrap .txt-box .desc br {
    display: none;
  }
}

@media (max-width: 767px) {
  .collaboration-wrap .txt-box .desc {
    text-align: center;
    font-size: 10px;
    line-height: 20px;
  }
}

.collaboration-wrap .txt-box .link {
  display: inline-block;
  border-bottom: 1px solid #000;
  margin-top: 40px;
}

@media (max-width: 1050px) {
  .collaboration-wrap .txt-box .link {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .collaboration-wrap .txt-box .link {
    font-size: 8px;
    margin: 10px 0 0 90px;
  }
}

.collaboration-wrap .inner-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collaboration-wrap .inner-box .inner {
  width: 400px;
  height: 200px;
}

@media (max-width: 1350px) {
  .collaboration-wrap .inner-box .inner {
    width: 300px;
    margin-right: 20px;
  }
}

@media (max-width: 1050px) {
  .collaboration-wrap .inner-box .inner {
    width: 400px;
    margin: 0 0 40px 0;
  }
}

.collaboration-wrap .inner-box .inner .desc {
  font-size: 16px;
  margin-top: 15px;
}

@media (max-width: 1350px) {
  .collaboration-wrap .inner-box .inner .desc {
    font-size: 14px;
  }
}

.collaboration-wrap .inner-box .inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sc-info {
  padding: 160px 0 96px;
}

.sc-info .info-wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  letter-spacing: -0.8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1050px) {
  .sc-info .info-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align-last: left;
  }
}

.sc-info .info-box {
  display: block;
  padding: 0 92.5px;
  margin: 0 0 64px;
}

@media (max-width: 1050px) {
  .sc-info .info-box {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 40px 0;
  }
}

.sc-info .info-box.info-box + .info-box {
  border-left: 1px solid #e6e6e6;
}

@media (max-width: 1050px) {
  .sc-info .info-box.info-box + .info-box {
    border-left: none;
  }
}

.sc-info .info-box .sc-title {
  font-size: 25px;
  margin: 0 0 16px;
}

.sc-info .info-box .desc {
  font-size: 15px;
  color: #666;
  line-height: 24px;
}

.banner {
  position: relative;
  padding: 0 20%;
  padding-bottom: 100px;
}

.banner .frame-wrap {
  margin: 0 auto;
  padding-bottom: 56%;
  position: relative;
}

.banner .frame-wrap iframe {
  width: 100%;
  position: absolute;
  height: 100%;
}

.sc-email {
  width: 100%;
  padding: 160px 0;
  background: #f7f5f0;
  text-align: center;
}

@media (max-width: 767px) {
  .sc-email {
    padding: 100px 0;
  }
}

.sc-email .email-wrap {
  display: inline-block;
  max-width: 768px;
  padding: 0 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767px) {
  .sc-email .email-wrap {
    padding: 0 20px;
  }
}

.sc-email .email-wrap .desc {
  font-size: 20px;
  margin-top: 20px;
  color: #666;
  line-height: 38px;
}

@media (max-width: 767px) {
  .sc-email .email-wrap .desc {
    font-size: 12px;
    line-height: 20px;
  }
}

.sc-email .email-wrap .touch-search {
  background-color: #ffffff80;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sc-email .email-wrap .touch-search .touch-selet {
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 16px;
  border: none;
}

@media (max-width: 767px) {
  .sc-email .email-wrap .touch-search .touch-selet {
    padding: 0 8px;
  }
}

.sc-email .email-wrap .touch-search .btn-touch {
  outline: none;
  width: 60px;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  border: none;
}

@media (max-width: 767px) {
  .sc-email .email-wrap .touch-search .btn-touch {
    width: 50px;
    height: 50px;
  }
}
